$black: #3F3F44;
$black-light: #4A4A50;
$black-border: #303030;
$gray: #D6D6D6;
$gray-light: #f3f3f3;
$gray-text: #5F5F5F;
$blue: rgb(0, 188, 212);
$white: #ffffff;
$red: #F44336;
$red-light: rgb(255,97,92);
$green: #4CAF50;
