
<md-toolbar class="md-sidenav-left md-whiteframe-z3 header-app"
			style="padding-left:60px;"
			layout="row">
    <div class="md-toolbar-tools" layout-align="center">
        <div flex="90" layout layout-align="center center">
            <h2 style="line-height:40px;">
                <span>
                    {{user.username}}
                </span>
            </h2>

            <span flex></span>
            <md-button class="md-icon-button" ui-sref="logout">
                <md-tooltip>Exit</md-tooltip>
                <md-icon class="material-icons">exit_to_app</md-icon>
            </md-button>
        </div>
    </div>
</md-toolbar>

<div layout="row" flex style="overflow: hidden;">
	<md-sidenav class="md-sidenav-left md-whiteframe-z3 global-menu"
		   md-component-id="menuGlobal"
		   md-is-locked-open="true">

	   <md-button 	class="md-fab md-mini md-primary" ng-click="showMySettings()">
		   <md-tooltip>My settings</md-tooltip>
		   <md-icon class="material-icons">settings</md-icon>
	   </md-button>

	   <md-button 	class="md-fab md-mini md-primary"
				   ui-sref="app.work-logs({username: user.username })">
		   <md-tooltip>My work logs</md-tooltip>
		   <md-icon class="material-icons">work</md-icon>
	   </md-button>

	   <md-button 	class="md-fab md-mini md-primary"
				   ui-sref="app.users()"
				   ng-if="user.role !== 'regular'">
		   <md-tooltip>Users</md-tooltip>
		   <md-icon class="material-icons">people</md-icon>
	   </md-button>

   </md-sidenav>

    <md-content ui-view="app-main-content"
				layout="column"
				layout-padding
				flex
				class="main-content"
				style="background-color: {{ backgroundColor }}">
	</md-content>
</div>
